
.overview {
    box-sizing: border-box;
    width: 800px;
    padding: 0 0 20px 0;
    margin: 0 auto;
}

div.overviewtitle {
    text-align: center;
}

div.question {
    display: inline-block;
    box-sizing: border-box;
    width: 45%;
    height: 90px;
    margin: 0;
    padding: 0 0 0 120px;
    border-right: none;
}

div.answer {
    display: inline-block;
    box-sizing: border-box;
    width: 45%;
    height: 90px;
    margin: 0;
}

div.barcontainer {
    width: 300px;
    height: 40px;
}

div.upper {
    padding: 0;
    width: 300px;
    height: 25px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 11px 0 0 0;
}

div.lower{
    padding: 0;
    width: 300px;
    height: 25px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 6px 0 0 0;
}

.percentage {
    float: right;
}

div.comment {
    width: 340px;
    margin: 10px auto;
    font-size: 15px;
}

a.section:hover .area {
    transform: scale(1.05);
    cursor: pointer;
}

a.section {
    text-decoration: none;
}


.area {
    transition: 1s;
    color: #333;
    background-color: #d3ecf3;
    border-top: 5px solid white;
    border-left: 5px solid white;
    border-right 5px solid white;
}

#interview {
    border-bottom: 5px solid white;
}

.suboverview {
    box-sizing: border-box;
    width: 800px;
    margin: 0 auto;
}

tr {
    height: 100px;
}

td.left {
    width: 20%;
    font-size: 15px;
}

td.middle {
    width: 25%;
    font-size: 15px;
    padding: 0;
}

td.right {
    width: 35%;
    font-size: 15px;
    padding: 0 0 0 5px;
}

.subpercentage {
    float: right;
}

div.bullet {
    display: inline-block;
    box-sizing: border-box;
    width: 100px;
    height: 60px;
    margin: 5px 0 0 50px;
    padding: 10px 0 0 0;
    text-align: center;
    background-color: #87ceeb;
    border: 1px solid white;
    border-radius: 5px;
}

div.subupper {
    padding: 0;
    width: 300px;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 0;
}

div.sublower{
    width: 300px;
    height: 20px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 0;
}

div.blank {
    height: 12px;
}

div.currentupdate {
    width: 300px;
    margin: 25px auto;
    text-align: center;
}

button {
    background-color: #d3ecf3;
    border: 1px solid #333;
    border-radius: 5px;
    width: 80px;
    margin: 20px;
}

button:hover {
    font-weight: bold;
    background: #87ceeb;
}

li.checklist {
    text-align: left;
}

input.currentupdate {
    text-align: center;
}